<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="the modern file browser" />
        <meta
            property="og:description"
            content="a minimalist spin on the typical bloat of browsing files"
        />
        <meta property="og:url" content="https://lfi.blairmath.team" />
        <meta property="og:image" content="/readFile?filename=tucks.jpg" />
        <meta name="theme-color" content="#272822" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/favicon-16x16.png"
        />
        <link rel="manifest" href="/static/site.webmanifest" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Source Code</title>
    </head>
    <body>
        <div class="flexmid">
            <div class="halfwidth emphasize">
                <pre><code class="hljs">$HLSOURCE$</code></pre>
            </div>
        </div>
    </body>
</html>
