{{#if error}}
    <p>{{error}}</p>
{{/if}}
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="🚀 username 🚀"/>
    <input type="password" name="password" placeholder="🚀 password 🚀"/>
    <input type="submit" value="🚀 log in 🚀"/>
</form>
